.center_content{
    width: 788px;
    float: left;
    padding: 5px 10px;
}
.products {
    display: inline-block;
}

.products.main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
}

.products ul .no-margin {
    margin-right: 0;
}

.products ul .img-product img {
    width: 100%;
}

.content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
    margin-top: -100px;
}

.content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 0rem;
}

.main-product .content-product .content-product-deltals .price {
    color: #c7b200;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
}
.main-product .img-product{
height: 300px;
}

.products .more{
    padding-right: 0px;
}

.products .title{
    /* margin-top: 50px;
    margin-bottom: 30px; */
    color: red;
}


.content-product .content-product-deltals .price .money {
    vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
    background: #f1df11;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
}
.products .phone{
    margin-top: 50px;
    margin-bottom: 30px;
    color: red;
}
